@import url("styles/header.css");

:root{
    --cor-de-fundo: #ffff;
    --branco: #ffffff;
    --fonte-principal: "Poppins";
    --fonte-secundaria: "Josefin Sans";
    --amarelo:#fecd2f;
    --roxo: #a11fc2;

    
}

body{
    background-color: var(--cor-de-fundo);
}

h1{
    background-color: white;
}
